<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pureco Inc. - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/jquery.bxslider.css" rel="stylesheet" />
</head>
<body>
    <!--Logo-->
    <div class="text-center">
        <img src="~/Content/Logo.png" style="max-width:100%;" />
    </div>

    <div class="container">
        <!--Sidebar-->
        <div class="fixed-sidebar" style="position:fixed;width:250px;">
            <div class="list-group">
                <a href="/Admin/Index" class="list-group-item">Home Content</a>
                <a href="/Admin/News" class="list-group-item">News Content</a>
                <a href="/Admin/Newsletter" class="list-group-item">Newsletter</a>
                <a href="/Admin/Users" class="list-group-item">Users</a>
            </div>
        </div>

        <!--Content-->
        <div class="fixed-sidebar-content" style="margin-left:270px;">
            <div class="row">
                <div class="col-xs-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>